.usersInfoWrapper {
  margin-left: calc(100% - 80.8%);
  height: 150vh;
  min-height: 150vh;
  background-color: #fff;
}

.usersInfoWrapper {
  display: flex;
  flex-direction: column;
}

.userInfoBox__btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.users_btnWrapper__btn {
  width: 100%;
  height: 55px;
  background-color: white;
  align-items: center;
  border: none;
  color: #9292a3;
  transition: all 0.3s ease-in-out;
}

.users_btnWrapper__btn:focus {
  border: none;
  outline: none;
}

.users_btnWrapper__btnActive {
  width: 100%;
  background-color: #fe4d01;
  align-items: center;
  height: 55px;
  border: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.users_btnWrapper__btnActive:focus {
  border: none;
  outline: none;
}

.userInfoBox__adminTableWrapper {
  margin: 2rem 1rem;
}

.userInfoBox__inputWrapper {
  margin-left: 4rem;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.userInfoBox__inputWrapper button {
  margin-left: auto;
}

.userInfoBox__singleInputWrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userInfoBox__input {
  width: 200px;
  height: 40px;
  text-align: left;
  border: 3px solid #9292a3;
  margin-bottom: 10px;
  padding: 10px 15px;
  outline: none;
  transition: 0.5s;
  font-size: 16px;
}

.userInfoBox__input:focus {
  outline: none;
  border: 3px solid #555;
}

.userInfoBox__btnSubmitForm {
  width: 8rem;
  height: 3rem;
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid #fe4d01;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  float: right;
}

.userInfoBox__btnSubmitForm:focus {
  outline: none;
}

.userInfoBox__btnSubmitForm:hover {
  background-color: #fe4d01;
  color: white;
}
