.appTxt {
  font-family: "malgun";
  font-weight: 800;
  color: white;
}

.formTxt {
  font-family: "malgun";
  font-weight: 600;
  color: black;
}

.textCtr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: 35%;
}

.appColor {
  background-color: #ff4d00;
}

.appImg {
  height: 10vh;
  width: auto;
}

.imgCtr {
  display: flex;
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgCtr img {
  width: auto;
  height: 8.5vh;
}

.appbg_primary {
  background-color: #f4f4f4;
}

.appbg_secondary {
  background-color: #f2f3f4;
}

.cursor {
  cursor: pointer;
}

.floatingCtr {
  position: absolute;
  width: 10vh;
  height: 10vh;
  top: 5.5em;
  border: 2px solid white;
  border-radius: 75px;
  overflow: hidden;
}

.floatingCtr:hover + .popup {
  display: block;
  color: whitesmoke;
  margin-left: 22vh;
  margin-top: 4vh;
}

.popup {
  display: none;
}

.searchBar:hover {
  border-color: black;
  box-shadow: 0 0 5px black !important;
}

.searchBar input:focus {
  border-color: white !important;
  box-shadow: 0 0 0 white !important;
}

.profileIconCtr {
  border: 3px solid transparent;
  cursor: pointer;
  position: relative;
  transition-duration: 0.5s;
}

.profileIconCtr:hover {
  border-color: white !important;
  box-shadow: 0 0 0 white !important;
}

.dropDownCtr {
  top: 4.2vh;
  left: -11vh;
  height: 22vh;
  width: 16vh;
}

.dropDownCtr ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  cursor: pointer;
  background-color: #f7f7f7;
}

.dropDownCtr li {
  font-family: "malgun";
  font-size: 14px;
  font-weight: 500;
}

.dropDownCtr li:hover {
  background-color: #ff4d00;
  color: white;
}

/* .dropDownCtr ul li {
  padding: 2px;
} */

/* .profileIconCtr a {
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  transition-duration: 0.1s;
}

.profileIconCtr a:hover {
  border-color: white !important;
  box-shadow: 0 0 0 white !important;
}

.profileIconCtr a ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  top: 4.5vh;
  min-width: 10rem;
  right: 0.2rem;
  border: 1px solid lightgray;
  visibility: hidden;
  position: absolute;
  transition: all 0.1s ease;
  display: block;
  background-color: #f4f4f4;
}

.profileIconCtr:hover > a ul,
.profileIconCtr:focus-within > a ul,
.profileIconCtr a ul:hover {
  visibility: visible;
  display: block;
  opacity: 1;
}

.profileIconCtr a ul li {
  clear: both;
  width: 100%;
  padding: 0.5rem;
}

.profileIconCtr a ul li:hover {
  background-color: #ff4d00;
  color: white;
} */
