.appTxt {
    font-family: "malgun";
    font-weight: 800;
    color: black;
  }

  .textCtr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 35%;
  }

  .appColor {
    background-color: #ff4d00;
  }

  .appImg {
    height: 10vh;
    width: auto;
  }

  .appbg_secondary {
    background-color: #f2f3f4;
  }

  .cursor {
    cursor: pointer;
  }

  .floatingCtr {
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 5.5em;
    border: 2px solid white;
    border-radius: 75px;
    overflow: hidden;
  }

  .floatingCtr:hover + .popup {
    display: block;
    color: whitesmoke;
    margin-left: 22vh;
    margin-top: 4vh;
  }

  .popup {
    display: none;
  }