.questionTxt {
  font-size: 18px;
  font-weight: 600;
}

.questionWindow {
  display: flex;
  margin: 1.5vh;
  align-items: flex-start;
  flex-direction: column;
}

.pollHeaderTxt {
  font-family: "malgun";
  font-weight: 800;
}

.subTopicWindow {
  height: 8vh;
}

.ddItem a:hover {
  background-color: #ff4d00;
  color: white;
}

.listItem {
  display: flex;
  height: 10vh;
  flex-direction: column;
  justify-content: space-between;
  border-color: white;
}

.attachIcon {
  color: gray;
}

.attachIcon:active {
  color: #0275d8;
}

.attachIcon:hover #caption {
  opacity: 1;
  display: block;
}

.answerItem {
  border: 2px solid #e0e0e0;
  height: 200px;
  position: relative;
}

.answerItem h5 {
  position: absolute;
  display: block;
  border: 1px solid;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
  color: #e0e0e0;
  background-color: #ff4d00;
  top: -5.8%;
  left: -2%;
  font-size: 14px;
}

.itemIcon {
  position: relative;
  align-items: center;
}

.itemIcon span {
  position: absolute;
  top: 2.0em;
  left: 40%;
  font-size: 12px;
}
